@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

main {
  padding-top: 60px;
}

// Make sure that scrolling to anchors is smooth
#how-it-works {
  text-align: center;
  ::before {
    content: "";
    display: block;
    height: 80px;
    margin: -80px 0 0;
  }
}

#background-image {
  background-color: rgba(0, 110, 255, 0.13);
  background-image: url("../images/sedona_for_sale.svg");
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

#table-of-contents {
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
  }
}

.self-portrait {
  max-width: 300px;
}

.interest-form {
  max-width: 400px;
  button {
    width: 100%;
  }
}

.line-break-text {
  white-space: pre-wrap;
}
