@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

// Make sure that scrolling to anchors is smooth
*[id]::before {
  content: "";
  display: block;
  height: 85px;
  margin: -85px 0 0;
}

#background-image {
  background-color: rgba(125, 200, 255, 0.15);
  background-image: url("../images/sedona_for_sale.svg");
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.table-of-contents {
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
  }
}

.material-icons {
  /* Support for IE */
  font-feature-settings: "liga";
}

// Utility classes
.line-break-text {
  white-space: pre-wrap;
}
